<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<% if @user %>
	<% if @user == @post.user %>
		<a href=<%= "/posts/#{@post.id}/edit" %>>Edit</a>
	<% end %>
	<form method="POST" action=<%= "/comments/#{@post.id}" %>>
		<label for="body">Comment Body:</label>
		<input type="text" name="body" id="body">

		<input type="submit" name="submit">
	</form>
<% end %>
<% @post.comments.reverse_each do |comment| %>
	<h2><%= comment.user.username %></h2>
	<p><%= comment.body %></p>
	<% if @user && @user == comment.user %>
		<a href=<%= "/comments/#{comment.id}/edit" %>>Edit</a>
	<% end %>
<% end %>