<h1><%= @comment.user.username %>'s comment on <%= @comment.post.title %></h1>
<p><%= @comment.body %></p>
<% if @comment.user == @user || @user.is_admin %>
	<a href=<%= "/comments/#{@comment.id}/edit" %>>Edit</a>
	<form method="GET" action=<%= "/comments/#{@comment.id}" %>>
		<input type="submit" name="_method" value="delete" id="delete">
	</form>
<% end %>