<h1><%= @show_user.username %></h1>
<% if @show_user == @user %>
	<a href=<%= "/users/#{@user.id}/edit/username" %>>Change username</a>
	<%= @user.email_address %>
	<a href=<%= "/users/#{@user.id}/edit/email_address" %>>Change email address</a>
	<a href=<%= "/users/#{@user.id}/edit/password" %>>Change password</a>
<% end %>
<h2>Posts:</h2>
<%= erb :"/partials/posts.html" %>
<h2>Comments:</h2>
<%= erb :"/partials/comments.html" %>