<h1><%= @user.username %> home</h1>
<p><%= @user.email_address %></p>
<% if @user.is_admin %>
	<a href="/posts/new">Create a new post!</a>
<% end %>
<div class="posts">
	<h2>Posts:</h2>
	<% if @user.posts != [] %>
		<% @user.posts.each.reversed do |post| %>
			<a href=<%= "/posts/#{post.id}" %>>
				<h3><%= post.title %></h3>
				<p><%= post.body[0..100] %></p>
			</a>
		<% end %>
	<% else %>
		<p>Nothing here!</p>
	<% end %>
</div>
<div class="comments">
	<h2>Comments:</h2>
	<% if @user.comments != [] %>
		<% @user.comments.each.reversed do |comment| %>
			<a href=<%= "/posts/#{comment.post.id}" %>>
				<p><%= comment.body[0..100] %>
			</a>
		<% end %>
	<% else %>
		<p>Nothing here!</p>
	<% end %>
</div>
<a href="/users/logout">Logout</a>